<head>
    <title>Базовые элементы языка C++</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/cpp_guide.css" />
</head>


<body>

    <nav>
        <ul style="list-style-type: none;">
            <li><a href="/home/Index">Главная</a></li>
            <li><a href="/home/CppGuide">Базовые элементы языка C++</a></li>
            <li><a href="/home/CppLessonsReferences">Уроки по C++</a></li>
            <li><a href="/home/TestsCpp">Тесты по C++</a></li>
        </ul>
    </nav>

    <div>
        <h1>Базовые элементы языка</h1>
        <p><span style="font-weight:bold;"><ins>Алфавитом языка</ins></span> называется множество допустимых символов, которые используются при составлении программы.</p>
        <p>
            В алфавит языка «С» включаются заглавные и прописные латинские буквы, арабские цифры, а также ряд специальных символов: +, -, *, /, %, <,>, =, l, &, \, ‘, “, #, $, ^, ?, _, :, ;, ., (, ), [, ], {, }, !
        </p>
        <p>
            Минимальными единицами, имеющими в программе какой-либо смысл, являются базовыми элементами языка, называемые лексемами.
            Базовых лексем существует несколько типов:
        </p>
        <ol type="I">
            <li>Идентификаторы (имя некоторой переменной);</li>
            <li>Ключевые слова языка;</li>
            <li>Константы (символьные, числовые, строковые);</li>
            <li>Операции (операторы);</li>
            <li>Разделители (запятые, точки с запятой).</li>
        </ol>
        <h2>[1] Идентификаторы</h2>

        <ul>
            <li>Идентификаторы в языке «С» начинаются с заглавной или строчной латинской буквы, состоят из букв, цифр и символов нижнего подчеркивания.</li>
            <li>Идентификаторы используются для объявления переменных, функций, пользовательских типов данных и тд.</li>
        </ul>
        <h2>[2] Ключевые слова</h2>

        <p> Ключевые слова подчиняются тем же правилам, что и идентификаторы, однако идентификаторы не могут совпадать с ключевыми словами, поскольку ключевые слова используются для идентификации других сущностей языка, таких как операторы, типы данных и тд.</p>

        <h2>[3] Типы данных</h2>
        <p>Все типы данных, используемых в языке «С» можно разделить на две большие группы:</p>
        <table>
            <tr>
                <td colspan="3" , style="text-align:center; font-weight:bold;">Базовые</td>
                <td colspan="2" , style="text-align:center;font-weight:bold;">Производные</td>
            </tr>
            <tr>
                <td colspan="2" , style="text-align:center;font-weight:bold;">Арифметические</td>
                <td rowspan="7" , style="text-align:center;font-weight:bold;">VOID</td>
                <td style="text-align:center;font-weight:bold;">Скалярные</td>
                <td style="text-align:center;font-weight:bold;">Составные</td>
            </tr>
            <tr>
                <td style="text-align:center;font-weight:bold;">Целочисленные</td>
                <td style="text-align:center;font-weight:bold;">Вещественные</td>
                <td>Перечисление (enum)</td>
                <td>Массивы</td>
            </tr>
            <tr>
                <td>Логический (bool)</td>
                <td>Вещественный с обычной точностью (float)</td>
                <td rowspan="5">Указатели (*)</td>
                <td>Структуры (struct)</td>
            </tr>
            <tr>
                <td>Символьные (char)</td>
                <td>Вещественный с увеличенной точностью (double)</td>
                <td rowspan="4">Объединение (union)</td>
            </tr>
            <tr>
                <td>Целый короткий (short)</td>
                <td rowspan="3">Вещественный с большой точностью (long double)</td>
            </tr>
            <tr>
                <td>Целый (int)</td>
            </tr>
            <tr>
                <td>Целый длинный (long)</td>
            </tr>
        </table>

    </div>

</body>