<head>
    <title>Тесты по C++</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>


<body>

    <nav>
        <ul style="list-style-type: none;">
            <li><a href="/home/Index">Главная</a></li>
            <li><a href="/home/CppGuide">Базовые элементы языка C++</a></li>
            <li><a href="/home/CppLessonsReferences">Уроки по C++</a></li>
            <li><a href="/home/TestsCpp">Тесты по C++</a></li>
        </ul>
    </nav>

    <div>
        <h1>Тесты по C++. Насколько хорошо вы владеете этим языком программирования? Давайте узнаем!</h1>

        <h2><a href="/tests/Test1">Тест 1. Легкий уровень</a></h2>
        <h2><a href="/tests/Test2">Тест 2. Средний уровень</a></h2>
        <h2><a href="/tests/Test3">Тест 3. Контейнеры STL</a></h2>
    </div>

</body>